.qa-select {
    position: relative;
    width: 50%;
    margin: auto auto 3em auto;
    box-sizing: border-box;
    padding: 0.5em;
    .topics {
        text-align: center;
        button {
            box-sizing: border-box;
            text-align: center;
            padding: 0.25em 0.75em;
            border-radius: 2em;
            background: white;
            display: inline-block;
            text-transform: none;
            letter-spacing: unset;
            font-size: 0.7em;
            margin: auto 0.2em;
            border: 1px solid inherit;
            box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
            transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            svg {
                vertical-align: middle;
                font-size: 1.2em;
            }
            &.isCurr {
                color: whitesmoke;
                background: #f57f17;
                box-shadow: none;
            }
        }
        button.unset-topic {
            border-radius: 0.1em;
            border: 1px solid lightgrey;
        }
    }
    .question {
        position: relative;
        box-sizing: border-box;
        margin: 1em 0;
        box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
        border-radius: 0.5em;
        overflow: hidden;
        background: #fafafa;
        padding: 0.5em 1em;
        .q {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: start;
            span {
                display: inline-block;
                overflow-wrap: break-word;
                box-sizing: border-box;
                padding: 0.2em 0.5em;
                font-size: 0.8em;
                font-weight: 700;
                color: #424242;
                a {
                    color: #424242;
                }
                b {
                    color: #2962ff;
                }
                i {
                    font-weight: 400;
                    color: grey;
                }
                &.status {
                    font-weight: 600;
                    font-size: 0.7em;
                    border-radius: 0.5em;
                    background: #ffcdd2;
                    &.reviewed {
                        background: #e8f5e9;
                    }
                }
                svg {
                    //display: block;
                    margin: auto;
                    font-size: 1em;
                    vertical-align: middle;
                    color: lightgrey;
                }
            }
            .modify-answers {
                position: absolute;
                top: 0;
                right: 0;
                max-width: 100px;
                padding: 0em;
                min-width: 0;
                width:2em;
                height:2em;
                border-radius: 1em;
                margin-top: -0.5em;
                margin-right: -1em;
                svg {
                    font-size: 1em;
                    display: block;
                    margin: auto;
                    color: rgb(160, 160, 160);
                }
            }
        }
        .q-review {
            position: relative;
            box-sizing: border-box;
            padding: 0.2em 0em;
            &.show-answers {
                border-bottom: 1px solid rgb(231, 231, 231);
            }
            span {
                display: inline-block;
                margin: 0.3em;
                box-sizing: border-box;
                padding: 0.2em;
                font-size: 0.7em;
            }
            .vote-icon {
                svg {
                    font-size: 1.5em;
                    color: rgb(160, 160, 160);
                }
            }
            svg {
                vertical-align: middle;
                font-size: 1em;
                color: #00c853;
            }
            .vote-urge {
                border-radius: 1em;
                background: whitesmoke;
                font-size: 0.7em;
                padding: 0.2em 1em;
                font-weight: 600;
            }
        }
        .as {
            position: relative;
            box-sizing: border-box;
            padding: 0;
            margin-top: 0.5em;
            .asc {
                max-height: 600px;
                overflow-y: scroll;
            }
            
            .answer {
                position: relative;
                box-sizing: border-box;
                padding: 0.5em;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                &:after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: -1em;
                    width: 2px;
                    background: transparent;
                    border-radius: 1px;
                    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
                }
                &:hover {
                    &:after {
                        background: #2962ff;
                    }
                }
                .Supp {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    margin: 0.5em 0;
                    font-size: 0.9em;
                    position: relative;
                    .aid {
                        position: absolute;
                        left: 14em;
                        bottom: 0;
                        width: 200px;
                        margin-left: -100px;
                        border: 1px solid lightgrey;
                        display: block;
                        visibility: hidden;
                        padding: 0.2em 0.5em;
                        text-align: center;
                        background: white;
                    }
                    &:hover {
                        .aid {
                            visibility: visible;
                        }
                    }
                    .levels {
                        .lv-choice {
                            background-color: #cfd8dc;
                            border-radius: 1em;
                            margin: 0 0.2em;
                        }
                        svg {
                            font-size: 1em;
                            color: grey;
                            vertical-align: middle;
                        }
                    }
                }
                span {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0.2em 0.5em;
                    font-size: 0.9em;
                }
                .title {
                    svg {
                        vertical-align: middle;
                        font-size: 1.2em;
                        color: grey;
                    }
                }
                .lv, .src {
                    border-radius: 0.5em;
                    background: white;
                    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
                    max-width: 10em;
                    white-space: nowrap;
                    position: relative;
                    overflow: visible;
                    &.src {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    
                }
                .del {
                    position: absolute;
                    top: 0;
                    right: 0.5em;
                    color: #cfd8dc;
                    min-width: 0;
                    padding: 0;
                    display: inline-block;
                    height: 2em;
                    width: 2em;
                    border-radius: 1em;
                    svg {
                        vertical-align: middle;
                        margin: auto;
                        font-size: 1.4em;
                    }
                }
                .Ans {
                    margin: 0.5em 0;
                    .ttle {
                        font-weight: 600;
                        text-decoration: underline;
                    }
                    div, textarea {
                        position: relative;
                        resize: unset;
                        display: block;
                        box-sizing: border-box;
                        font: {
                            family: 'Baloo Chettan 2', sans-serif;
                            size: 0.8em;
                        }
                        padding: 0.5em;
                        width: 100%;
                        outline: none;
                        border: 1px solid transparent;
                        border-radius: 0.5em;
                        background: #f0f2f5;
                        &:hover {
                            .aid {
                                visibility: visible;
                            }
                        }
                        .aid {
                            position: absolute;
                            left: 50%;
                            top: -3em;
                            width: 200px;
                            margin-left: -100px;
                            border: 1px solid lightgrey;
                            display: block;
                            visibility: hidden;
                            padding: 0.2em 0.5em;
                            text-align: center;
                            background: white;
                        }
                    }
                    textarea {
                        border: 1px solid grey;
                    }
                }
            }
            .valid-modifs {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                text-transform: none;
                letter-spacing: unset;
                font: {
                    family: 'Baloo Chettan 2', sans-serif;
                }
                display: block;
                max-width: 200px;
                margin: auto;
                color: #424242;
                font-weight: 600;
                border-radius: 0.5em;
                background: white;
                box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
            }
        }
    }
    .controller {
        position: fixed;
        bottom: 0.5em;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        background: whitesmoke;
        border-radius: 2em;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);;
        button {
            display: inline-block;
            text-align: center;
            min-width: 0;
            padding: 0.2em;
            color: #424242;
            border-radius: 50%;
            svg {
                vertical-align: middle;
            }
            margin: 0.25em;
            font-size: 0.8em;
        }
        span {
            display: inline-block;
            font-size: 0.8em;
            font-family: 'Baloo Chettan 2', sans-serif;
        }
    }
}